@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/$file_name.woff") format("woff"), url("../fonts/$file_name.woff2") format("woff2");
  font-weight: "700";
  font-style: "normal";
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 50px;
}

h2 {
  height: 36px;
}

.container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  z-index: 3;
}

.btn {
  padding: 23px 71px;
  background: #167FFA;
  -webkit-box-shadow: 0px 4px 8px rgba(22, 127, 250, 0.5);
          box-shadow: 0px 4px 8px rgba(22, 127, 250, 0.5);
  border-radius: 36px;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  border: none;
}

.header {
  color: #ffffff;
  position: relative;
  height: 718px;
  background: url(../img/bg.jpg) no-repeat center top/cover;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.header__burger {
  display: none;
}

.header__block {
  position: relative;
  top: 135px;
}

.header__title {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 15px;
}

.header__subtitle {
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 25px;
}

.header__description {
  font-size: 24px;
  line-height: 28px;
  max-width: 505px;
  margin-bottom: 30px;
}

.header__avatar {
  position: absolute;
  right: 5%;
  top: 232px;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__avatar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo-icon {
  width: 145.81px;
  height: 66px;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31px;
  height: 66px;
}

.nav__logo {
  width: 145.81px;
  height: 66px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__list li {
  margin-right: 19px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav__list li:last-child {
  margin: 0;
}

.nav__list li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav__link:hover {
  color: #999999;
}

.nav__link__btn {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav__link__btn:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  background: #0a57ae;
  -webkit-box-shadow: 0px 2px 8px rgba(22, 127, 250, 0.5);
          box-shadow: 0px 2px 8px rgba(22, 127, 250, 0.5);
}

.social-icon {
  height: 30px;
  width: 30px;
  margin-right: 22px;
}

.social-icon:last-child {
  margin: 0;
}

@media screen and (max-width: 1300px) {
  .container {
    margin: 0 20px;
  }
}

@media screen and (max-width: 950px) {
  .header__avatar {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 900px) {
  .header__burger {
    display: block;
    width: 32px;
    height: 2px;
    background: #FFF;
    position: absolute;
    right: 20px;
    bottom: 32px;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
  }
  .header__burger:after {
    content: '';
    width: 16px;
    height: 2px;
    background: #FFF;
    position: absolute;
    top: 10px;
    left: 8px;
  }
  .header__burger:before {
    content: '';
    width: 32px;
    height: 2px;
    background: #FFF;
    position: absolute;
    top: -10px;
    left: 0;
  }
  .header__social {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__avatar {
    width: 250px;
    height: 250px;
  }
  .header__description {
    max-width: 400px;
  }
}

@media screen and (max-width: 750px) {
  .header__avatar {
    top: 90px;
  }
  .header__block {
    top: 165px;
  }
}

@media screen and (max-width: 650px) {
  .header__block {
    top: 150px;
  }
  .header__description {
    max-width: 100%;
    font-size: 18px;
  }
  .header__title {
    font-size: 20px;
  }
  .header__subtitle {
    font-size: 35px;
  }
}

@media screen and (max-width: 560px) {
  .header__block {
    top: 200px;
  }
  .header__title {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 520px) {
  .header__block {
    top: 250px;
  }
  .header__avatar {
    width: 220px;
    height: 220px;
    top: 110px;
    right: 50%;
    margin-right: -110px;
  }
  .header__title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .header__subtitle {
    font-size: 30px;
    line-height: 28px;
  }
  .header__btn {
    display: block;
    font-size: 20px;
    padding: 20px 50px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */